<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
  <a class="navbar-brand" routerLink="/">🏋️ FitZone</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/clases">Clases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/inscripcion">Inscripción</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contacto">Contacto</a>
      </li>

      @if (authService.isLoggedIn()) {
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
            Administración
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/admin/form-template">Ver inscripciones</a></li>
            <li><a class="dropdown-item" routerLink="/admin/contacto">Ver contactos</a></li>
          </ul>
        </li>
      }
    </ul>

    @if (authService.isLoggedIn()) {
      <span class="navbar-text me-3">
        Bienvenido, {{ authService.getAdminName() }}
      </span>
      <button class="btn btn-outline-light btn-sm" (click)="logout()">Logout</button>
    } @else {
      <a class="btn btn-outline-light btn-sm" routerLink="/login">Login</a>
    }
  </div>
</nav>
