body.contraste-alto, body.contraste-alto * {
  background-color: black !important;
  color: white !important;
}

body.contraste-bajo, body.contraste-bajo * {
  background-color: #f7f7f7 !important;
  color: #222 !important;
}

body.fuente-arial, body.fuente-arial * {
  font-family: Arial, sans-serif !important;
}

body.fuente-verdana, body.fuente-verdana * {
  font-family: Verdana, sans-serif !important;
}

body.fuente-roboto, body.fuente-roboto * {
  font-family: 'Roboto', sans-serif !important;
}
