body.fuente-arial,
body.fuente-arial *,
body.fuente-arial .app-home {
    font-family: Arial, sans-serif !important;
}

body.fuente-verdana,
body.fuente-verdana *,
body.fuente-verdana .app-home {
    font-family: Verdana, sans-serif !important;
}

body.fuente-roboto,
body.fuente-roboto *,
body.fuente-roboto .app-home {
    font-family: 'Roboto', sans-serif !important;
}

/* Excluir iconos FontAwesome y Material Icons */
body.fuente-arial i.fa,
body.fuente-arial span.fa,
body.fuente-verdana i.fa,
body.fuente-verdana span.fa,
body.fuente-roboto i.fa,
body.fuente-roboto span.fa,
body.fuente-arial .material-icons,
body.fuente-verdana .material-icons,
body.fuente-roboto .material-icons {
    font-family: inherit !important;
    /* o la fuente original que usen */
}

/* Si usas svg o elementos <mat-icon> también podrías asegurarte que no cambian */
body.fuente-arial mat-icon,
body.fuente-verdana mat-icon,
body.fuente-roboto mat-icon {
    font-family: 'Material Icons' !important;
}

