<div class="container mt-5">
    <h2 class="mb-4 text-center">Panel de Administración</h2>
  
    <div class="row g-4">
      <div class="col-md-6">
        <div class="card shadow h-100">
          <div class="card-body">
            <h5 class="card-title">Inscripciones (Formulario Template)</h5>
            <p class="card-text">Consulta, edita o elimina los datos registrados desde el formulario por plantilla.</p>
            <a routerLink="/admin/form-template" class="btn btn-primary">Ir a registros</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="card shadow h-100">
          <div class="card-body">
            <h5 class="card-title">Inscripciones (Formulario Reactivo)</h5>
            <p class="card-text">Consulta, edita o elimina los datos registrados desde el formulario reactivo.</p>
            <a routerLink="/admin/form-reactive" class="btn btn-primary">Ir a registros</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  