<div class="container mt-5" style="max-width: 600px;">
    <h2 class="text-center mb-4">Formulario de contacto personalizado</h2>

    <form [formGroup]="form" (ngSubmit)="guardar()" class="card p-4 shadow-sm bg-light">

        <div class="mb-3">
            <label class="form-label">Nombre completo</label>
            <input formControlName="nombre" class="form-control" />
            @if (isInvalid('nombre')) {
            <div class="text-danger">Nombre requerido (mínimo 3 letras).</div>
            }
        </div>

        <div class="mb-3">
            <label class="form-label">Teléfono</label>
            <input formControlName="telefono" class="form-control" />
            @if (isInvalid('telefono')) {
            <div class="text-danger">Teléfono inválido (10 dígitos).</div>
            }
        </div>

        <div class="mb-3">
            <label class="form-label">Clase</label>
            <select formControlName="clase" class="form-select">
                <option value="" disabled selected>Selecciona una clase</option>
                @for (let c of clases) {
                <option [value]="c">{{ c }}</option>
                }
            </select>
            @if (isInvalid('clase')) {
            <div class="text-danger">Debes seleccionar una clase.</div>
            }
        </div>

        <div class="mb-3">
            <label class="form-label">Días disponibles</label><br />
            @for (let dia of ['Martes', 'Jueves', 'Sábado']) {
            <div class="form-check">
                <input type="checkbox" class="form-check-input" [value]="dia" (change)="onCheckboxChange($event)" />
                <label class="form-check-label">{{ dia }}</label>
            </div>
            }
        </div>

        <div class="mb-3">
            <label class="form-label">Turno</label><br />
            @for (let turno of ['Mañana', 'Noche']) {
            <div class="form-check">
                <input type="radio" formControlName="turno" [value]="turno" class="form-check-input" />
                <label class="form-check-label">{{ turno }}</label>
            </div>
            }
            @if (isInvalid('turno')) {
            <div class="text-danger">Selecciona un turno.</div>
            }
        </div>

        <div class="mb-3">
            <label class="form-label">Fecha de contacto</label>
            <input type="date" formControlName="fecha" [min]="hoy()" class="form-control" />
            @if (isInvalid('fecha')) {
            <div class="text-danger">Selecciona una fecha válida.</div>
            }
        </div>

        <button class="btn btn-success w-100" [disabled]="form.invalid">Enviar formulario</button>
    </form>
</div>